<!doctype html>
<html lang="ar" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Hello, world!</title>
</head>

<body>
    <div class="nav-bar container" id="nav">
        <div class="row">
            <div class="file-btn-container col-4" id="fileBtn">
            </div>
            <div class="col-4"> <button class="btn btn-dark nav-btn main-nav-btn">
                    <div class="inner-file-btn" data-bs-toggle="modal" data-bs-target="#main-modal"><span
                            class="circle-btn"></span><span class="circle-btn"></span></div>
                    الرئيسية
                </button></div>

            <div class="box-btn-container col-4" id="boxBtn">
                <input type="search" id="site-search" class="nav-search" id="navSearch" placeholder="بحث">
            </div>

        </div>
    </div>

    <!-- start modals-->
    <!-- add main categ model-->
    <div class="modal fade" id="main-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <button class="btn-dark" id="add-file" onclick="displayAddFileForm()"> اضافة ملف</button>
                    <button class="btn-dark" id=" add-box" onclick="displayAddFilebox()"> اضافة صندوق</button>
                    <form class="d-none" id="main-modal-form">
                        <div class="mb-3" id="main-modal-editor">
                            <label for="main-categ-name" id="main-modal-form-label" class="form-label"></label>
                            <div id="editor">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="addMainCateg()">اضافة</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- end modals-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="js/editors-conf.js"></script>
    <script src="js/main.js"></script>
</body>

</html>